.grid-1of6 {
    flex: 0 0 16.666667%;
}
.grid-2of6 {
    flex: 0 0 33.333333%;
}
.grid-3of6 {
    flex: 0 0 50%;
}
.grid-4of6 {
    flex: 0 0 66.666667%;
}
.grid-5of6 {
    flex: 0 0 83.333333%;
}
.grid-1of3 {
    flex: 0 0 33.333333%;
}
.grid-2of3 {
    flex: 0 0 66.666667%;
}
