.cart-item {
    display: flex;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid lightgray;
}

.name-and-description {
    display: flex;
    flex: 0 0 33.333333%;
}

.name {
    font-weight: 700;
    font-size: 1rem;
    text-align: left;
    /* color: #F96302; */
}

.description {
    text-align: left;
    font-size: 0.8rem;
    margin-top: 4px;
}

.quantity {
    width: 2rem;
    border-width: 0;
    font-size: 1rem;
    outline: none;
}

.center {
    text-align: center;
    flex: 0 0 16.666667%;
}