.cart-body {
    border: 1px solid #F96302;
    border-radius: 10px;
    margin-top: 30px;
    padding: 10px;
    background-color: rgb(255, 253, 253);
}

.headers {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid lightgray;
}

.title {
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
    color: #f96302;
}

.num-items {
    font-weight: 700;
    text-align: center;
    margin-top: 10px;
}

.item-header {
    font-weight: 700;
    text-align: center;
    flex: 0 0 33.333333%;
    color: #f96302;
}

.header {
    font-weight: 700;
    text-align: center;
    flex: 0 0 16.666667%;
    color: #f96302;
}

.items {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.items ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.summary {
    display: flex;
    justify-content: flex-end;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.summary-label {
    color: #F96302;
    text-align: right;
    margin-top: 0.75rem;
    font-weight: 700;
}

.summary-label::after {
    content: ":";
}

.summary-data {
    text-align: center;
    margin-top: 0.75rem;
}

.grid-1of6 {
    flex: 0 0 16.666667%;
}
