.new-form-container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.new-form {
    text-align: left;
}

.buttons {
    text-align: right;
}

.form-button {
    max-width: 150px;
    margin: 20px 0;
    padding: 12px 20px;
    font-size: 17px;
    font-weight: 500;
}

.form-button+.form-button {
    margin-left: .5rem;
}
